<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<p>&nbsp;</p>
<table width="200" border="1">
  <tr>
    <th scope="row"><a href="/add_dept">add department</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_department">view department</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/add_course">add course</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="view_course">view course</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/addlab">add lab</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_lab">view lab</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/addstaff">add staff</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_staff">view staff</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/addstudent">add student</a></th>
  </tr>
  <tr>
    <th scope="row"><a href="/view_student">view student</a></th>
  </tr>
   <tr>

    <tr>
    <th scope="row"><a href="/add_lab_allocation">add lab allocation</a></th>
  </tr>
    <tr>
    <th scope="row"><a href="/view_lab_allocation">view lab allocation</a></th>
  </tr>
    <tr>
    <th scope="row"><a href="/add_exam_scheduling">add exam schedule</a></th>
  </tr>
    <tr>
    <th scope="row"><a href="/view_exam_scheduling">view exam schedule</a></th>
  </tr>
</table>
<p>&nbsp;</p>
</body>
</html>
