{% extends 'admin/Admin_index.html' %}
{% block body %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="post">


<table width="342" border="1"  class="table table-secondary">
  <tr>
    <th scope="row">course name</th>
    <td>
      <input type="text" name="textfield" id="textfield"class="form-control" required value="{{ data.course_name }}" /></td>
  </tr>
     <tr>
    <th scope="row">department</th>
       <td>
      <select name="select" >
      {% for i in data1 %}
    <option value="{{ i.dept_id }}"{% if i.dept_id==data1.dept_id %}selected{% endif %}>{{ i.department_name }}</option>
    {% endfor %}
    </select> </td>
  </tr>
  <tr>
    <td colspan="2"align="center" scope="row"><input type="submit" name="button" id="button" value="ADD"class="btn btn-primary" /></td>
    </tr>
</table>
</form>
</body>
</html>
{% endblock %}