{% extends 'admin/Admin_index.html' %}
{% block body %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body><form action="" method="get"><table width="295" border="1" class="table table-secondary">
  <tr>
    <th  scope="row">sl.no</th>
    <td >course</td>
    <td >department</td>
      <td></td>
      <td></td>

{#    <td width="51">&nbsp;</td>#}
  </tr>
    {% for i in data %}
  <tr>
    <th scope="row">&nbsp;{{ loop.index }}</th>
    <td>{{ i.course_name }}&nbsp;</td>
    <td>&nbsp;{{ i.department_name }}</td>
    <td><a href="/edit_course/{{ i.course_id }}#a"class="btn btn-primary">edit</a></td>
    <td><a href="/delete_course/{{ i.course_id }}#a"class="btn btn-danger">delete</a></td>
  </tr>
    {% endfor %}
</table>

</form>
</body>
</html>
{% endblock %}