{% extends 'admin/Admin_index.html' %}
{% block body %}<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="get" action=""><table width="200" border="1" class="table table-secondary">
  <tr>
    <th scope="row">sl.no</th>
    <td>name</td>
    <td>gender</td>
    <td>DOB</td>
    <td>email</td>
    <td>phone</td>
    <td>department</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
    {% for i in data %}
  <tr>
    <th scope="row">{{ loop.index }}&nbsp;</th>
    <td><img src="{{ i.image }}" height="100" width="100" alt="no image"/><br> {{ i.name }}</td>
    <td>{{ i.gender }}</td>
    <td>{{ i.DOB }}&nbsp;</td>
    <td>{{ i.email }}&nbsp;</td>
    <td>{{ i.phone }}&nbsp;</td>
    <td>{{ i.department_name }}</td>
    <td><a href="/edit_staff/{{ i.staff_id }}#a" class="btn btn-primary ">edit</a></td>

    <td><a href="/delete_staff/{{ i.staff_id }}#a" class="btn btn-danger">delete</a></td>
  </tr>
    {% endfor %}
</table>

</form>
</body>
</html>
{% endblock %}